In [1]:
import pandas as pd

### Example-1

In [2]:
operational_kpis = pd.Series(["employee satisfaction rating","employee churn rate"])
operational_kpis

0    employee satisfaction rating
1             employee churn rate
dtype: object

In [3]:
operational_kpis.lstrip('employee')

AttributeError: 'Series' object has no attribute 'lstrip'

In [20]:
operational_kpis[0]

'employee satisfaction rating'

In [4]:
operational_kpis[0].lstrip('employee')

' satisfaction rating'

In [5]:
operational_kpis[1].lstrip('employee')

' churn rate'

In [7]:
pd.Series([operational_kpis[0].lstrip('employee'),operational_kpis[1].lstrip('employee')])

0     satisfaction rating
1              churn rate
dtype: object

In [12]:
print(operational_kpis.str)

<pandas.core.strings.accessor.StringMethods object at 0x0000015F7F77D130>

In [10]:
operational_kpis.str[0]

0    e
1    e
dtype: object

In [11]:
operational_kpis.str[1]

0    m
1    m
dtype: object

In [13]:
operational_kpis.str.lstrip('employee')

0     satisfaction rating
1              churn rate
dtype: object

### Example-2

In [14]:
text_series = pd.Series(['Text_data',34])
text_series

0    Text_data
1           34
dtype: object

In [15]:
text_series.str.lstrip('Text_')

0    data
1     NaN
dtype: object

In [17]:
text_series = pd.Series(['Text_data','34'])
text_series.str.lstrip('Text_')

0    data
1      34
dtype: object

### Example-3

In [18]:
house_prices = pd.Series(['$400,000','$500,000','$600,000'])
house_prices

0    $400,000
1    $500,000
2    $600,000
dtype: object

In [19]:
house_prices.str.contains('$')

0    True
1    True
2    True
dtype: bool