In [1]:
import pandas as pd
import numpy as np

In [10]:
data = pd.read_csv('Location.csv')
location_data = data.copy()
location_data.head()

      Location
0   Location 3
1   Location 6
2   Location 8
3  Location 26
4  Location 34

In [9]:
type(location_data)

pandas.core.frame.DataFrame

In [11]:
location_data.describe()

           Location
count          1043
unique          296
top     Location 25
freq             31

In [12]:
len(location_data)

1043

### .nunique()
* Shows number of unique values in the series

In [19]:
location_data.nunique()

Location    296
dtype: int64

In [14]:
type(location_data.nunique())

pandas.core.series.Series

### .unique()
* this method delivers the values in the order they have appeared in the dataset

In [17]:
location_data.unique()

AttributeError: 'DataFrame' object has no attribute 'unique'